/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

.front {
  .zone-midzone-wrapper {
    .region-midzone-first {
      background: url(../images/meetourdoctors.png);
      background-size: contain;
      min-height: 280px;
      background-repeat: no-repeat;
      background-position: right;
      	.block {
      		margin: 30px 0 0 0;
      	}
    }
  }
}

#zone-midzone3-wrapper {
  .webform-client-form {
    .webform-component--we-look-forward-to-hearing-from-you {
      text-align: center;
      font-size: 28px;
      margin: 0 0 10px 0;
    }
    .form-actions {
      float: right;
      width: 50%;
      margin: 0 0 10px 0;
    }
    .webform-submit {
      width: 100%;
      padding: 15px;
    }
    .webform-component--contact-info {
      float: left;
      width: 50%;
        .webform-contact-phone-wrapper, .webform-contact-address-wrapper, .webform-contact-fax-wrapper, .webform-contact-email-wrapper {
          float: left;
          width: 50%;
          margin: 0 0 60px 0;

          .webform-contact-phone-title, .webform-contact-fax-title, .webform-contact-address-title, .webform-contact-email-title {
            font-size: 25px;
            font-weight: bold;
            color: #10557E;
          }
          .webform-contact-phone, .webform-contact-fax, .webform-contact-address, .webform-contact-email {
            font-size: 19px;
            color: #10557E;
            font-style: italic;
          }
      }
    }
    .webform-component--contact-fields {
      margin-bottom: 0;
      input[type="text"], input[type="email"], textarea {
        background: #e1e1e1;
        padding: 16px;
        width: 100%;
      }
      label {
        padding: 8px 15px;
        font-weight: 300;
        font-size: 15px;
    }
    }
    
  }
}

//About Us

.zone-content {
  .region-sidebar-second {
    .block-testimonial-block-1 {
      .views-row {
        position: relative;
        top: -40px;
      }
      .views-field-field-client-picture {
        text-align: center;
        position: relative;
        top: 59px;
          img {
            border-radius: 62px;
            border: 5px solid #C9C1C1;
          }
        }
        .views-field-body, .views-field-field-name, .views-field-field-client-title {
          background: #C9C1C1;
          padding: 10px;
      }
        h2 {
          text-align: center;
          padding-top: 10px;
       }
    }
  }
}

//Services

.block-views-services-block {
  .views-row {
      width: 373px;
      float: left;
      margin: 0 10px;
      height: 349px;
    .views-field-body {
      position: relative;
      bottom: 32px;
      height: 34px;
    }
    .views-field-title {
      background: rgba(40, 106, 146, 0.61);
      position: relative;
      bottom: 41px;
      padding: 10px;
      a {
      color: #fff;
      }
    }
  }
}