/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

body {
  font-family: helvetica, "Open Sans", sans-serif;
  font-weight: 200;
}


.html {
  background: #fff;
}

#zone-postscript {
  //Reset margin on zone comming from base theme
  margin-top: 0;
}

#zone-user-wrapper {
  background: #DCB55A;
  line-height: 34px;

  .block-block-2 {
    float: right;
  }

  p {
    color: #fff;
  }
}

#zone-preface-wrapper {
  p, h2.block-title {
    text-align: center;
    color: #015383;
  }

  h2.block-title {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
  }

  .region {
    position: relative;
    padding: 0 0 40px 0;
  }

  .block {
    position: static;
  }

  div.read-more-button {
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 8px 0;

      a {
	@include overline-from-left();
        background-color: #095480;
        padding: 8px;
        color: #fff; 
      }
  }
}

.zone-wrapper {
  .zone-header {
    width: 100%;

    .region-header-first {
      width: 100%;
      margin: 0;
    }
  }
}

/*Main Menu*/

.zone-branding {
  .block-superfish {
    margin: 80px 0 0 0;

     .menu {
        float: right;

        li {
          background: transparent;
          a {
            border: none;
          }
          a:hover, a:focus {
            color: #fff;
            background: #073A66;
            border-radius: 3px;
          }
        }
    }
  }
}

.zone-postscript-wrapper {
  background: #dcb65b;
    .block-front-page-testimonials-block {
      //margin: 20px 0 0 0;
      h2 {
        color: #005382;
        font-size: 50px;
        }
      .views-row {
        width: 50%;
        float: left;
        .views-field-field-name {
          font-size: 18px;
          color: #005382;
          font-weight: 400;
        }
        .views-field-field-client-title {
          font-style: italic;
          font-size: 18px;
          color: #000000;
          text-transform: lowercase;
        }
        .views-field-body {
          float: left;
          padding: 15px;
          color: #fff;
          background: #005382;
          border-radius: 4px;
          margin: 10px 20px 10px 0;
      }
    }
  }
}

.zone-footer-wrapper {
  background: #000;
}

.block-menu-menu-footer-menu {
  float: right;
    .menu {
      li {
        float: left;
          a {
            color: #fff;
          }
      }
    }
  }
//Images should be moved to theme folder unless cpn is used.
.franchise-icon {
  background: url(/sites/zmedispa.com/files/franchise-icon.png);  
}

.services-icon {
  background: url(/sites/zmedispa.com/files/services-icon.png);
}

.aboutus-icon {
  background: url(/sites/zmedispa.com/files/aboutus-icon.png);  
}

.franchise-icon, .services-icon, .aboutus-icon {
  background-repeat: no-repeat;
  text-indent: -9999px;
  height: 160px;
  text-align: center;
  background-position: center;
  margin: 10px 0;
}


.zone-midzone3-wrapper {
  background: #c9c1c1;
    h2 {
      font-size: 50px;
  }
}




.front {
  .zone-midzone-wrapper {
    margin-top: 20px;
    background: #ced6e1;
    .region {
	padding-bottom: 20px;
    }
    .block-block {
      h2 {
        color: #005382;
        font-size: 50px;
      }
    }
  }
}

.learn-more-about-doctors {
  a {
    @include overline-from-left();
    background-color: #095480;
    padding: 8px 60px;
    float: left;
    color: #fff;
  }
}

.zone-preface-wrapper, .zone-midzone3-wrapper {
  .block {
    h2 {
      text-align: center;
      color: #10557E;
      margin: 0;
    }
  }
}

.zone-footer {
  .region-footer-second {
    .block { 
      float: right;
      margin: 0 0 15px 0;
      font-size: 12px;
    }
  }
  p {
    color: #fff;
  }
}

.section-footer {
  .block-menu-footer-menu
    ul.menu {
      li {
        padding: 0 0 0 25px;
    }
  }
}

.section-footer {
  .block-menu-footer-menu
    ul.menu {
      padding: 0;
  }
}

.zone-content {
  #page-title {
  font-size: 41px;
  color: #fff;
  text-shadow: 0 0 8px #616161;
  }
}

//Services

.block-views-services-block {
  .views-row {
      width: 373px;
      float: left;
      margin: 0 10px;
      height: 349px;
    .views-field-body {
      position: relative;
      bottom: 32px;
      height: 34px;
    }
    .views-field-title {
      background: rgba(40, 106, 146, 0.61);
      position: relative;
      bottom: 41px;
      padding: 10px;
      a {
      color: #fff;
      }
    }
  }
}

//Testimonials

.view-id-testimonial_page_block {
  .views-row {
      text-align: center;
      border-bottom: 1px solid #2698F2;
      margin: 30px 0 30px 0;
      float: left;
    .field-name-field-name {
      font-weight: bold;
      color: #10557E;
    }
    .field-name-field-client-picture {
      margin: 0 0 16px 0;
      img {
        border-radius: 50px;
      }
    }
      h2 {
        display: none;
      }
  }
}


//About Us

.zone-content {
  .region-sidebar-second {
    .block-testimonial-block-1 {
      .views-row {
        position: relative;
        top: -40px;
      }
      .views-field-field-client-picture {
        text-align: center;
        position: relative;
        top: 59px;
          img {
            border-radius: 62px;
            border: 5px solid #C9C1C1;
          }
        }
        .views-field-body, .views-field-field-name, .views-field-field-client-title {
          background: #C9C1C1;
          padding: 10px;
      }
        h2 {
          text-align: center;
          padding-top: 10px;
       }
    }
  }
}

//Should be moved in to the CPN of that particular node, images should be kept in files how it is now.
.page-node-6 {
  .zone-content {
   .region-content {
      position: relative;
      bottom: 70px;
   }
  }  
  .zone-header2-wrapper {
    background: url(/sites/zmedispa.com/files/about-us-slide.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
  }
}

.page-node-8 {
  .zone-content {
   .region-content {
      position: relative;
      bottom: 70px;
   }
  }  
  .zone-header2-wrapper {
    background: url(/sites/zmedispa.com/files/about-us-slide.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
  }
}

.page-testimonials {
  .zone-content {
   .region-content {
      position: relative;
      bottom: 70px;
   }
  }  
  .zone-header2-wrapper {
    background: url(/sites/zmedispa.com/files/about-us-slide.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
  }
}


#region-content {
  .field-name-body {
    h2.content-subtitle {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

#region-sidebar-second {
  margin-bottom: 30px;

  #block-views-testimonial-block-1 {
    h2.block-title {
      text-transform: lowercase;
      font-size: 22px;
      color: #015383;
    }

    .views-row {
      .views-field-field-name {
        padding-bottom: 0px;
        color: #015383;
        font-weight: bold;
      }

      .views-field-field-client-title {
        padding-top: 0px;
        font-style: italic;
        color: #015383;
      }

      .views-field-body {
        padding-top: 60px;

        .field-content {
          border-bottom: 3px solid #015383;

          p {
            color: #fff;
            font-size: 12px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

#region-midzone3-first {
  #webform-client-form-7 {
    .webform-component--sub-title {
      p {
        text-align: center;
        font-size: 22px;
        text-transform: lowercase;
      }
    }
  }
}
