/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}



.html {
  background: #fff;
}

#zone-user-wrapper {
  background: #DCB55A;
  line-height: 34px;

  .block-block-2 {
    float: right;
  }

  p {
    color: #fff;
  }
}

#zone-preface-wrapper {
  p, h2.block-title {
    text-align: center;
    color: #015383;
  }

  h2.block-title {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
  }

  .region {
    position: relative;
    padding: 0 0 40px 0;
  }

  .block {
    position: static;
  }

  div.read-more-button {
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 8px 0;

      a {
        background-color: #095480;
        padding: 8px;
        color: #fff;

        &:hover {
          font-weight: bold;
        }
      }
  }
}

.zone-wrapper {
  .zone-header {
    width: 100%;

    .region-header-first {
      width: 100%;
      margin: 0;
    }
  }
}

/*Main Menu*/

.zone-branding {
  .block-superfish {
    margin: 80px 0 0 0;

     .menu {
        float: right;

        li {
          background: transparent;
          a {
            border: none;
          }
        }
    }
  }
}

.zone-postscript-wrapper {
  background: #dcb65b;
    .block-views-testimonial-block {
      h2 {
        color: #005382;
        font-size: 50px;
        }
      .views-row {
        width: 50%;
        float: left;
        .views-field-body {
          float: left;
          padding: 15px;
          color: #fff;
          background: #005382;
          border-radius: 4px;
          margin: 10px 20px 10px 0;
      }
    }
  }
}

.zone-footer-wrapper {
  background: #000;
}

.block-menu-menu-footer-menu {
  float: right;
    .menu {
      li {
        float: left;
          a {
            color: #fff;
          }
      }
    }
  }

.franchise-icon {
  background: url(/sites/zmedispa.com/files/franchise-icon.png);  
}

.services-icon {
  background: url(/sites/zmedispa.com/files/services-icon.png);
}

.aboutus-icon {
  background: url(/sites/zmedispa.com/files/aboutus-icon.png);  
}

.franchise-icon, .services-icon, .aboutus-icon {
  background-repeat: no-repeat;
  text-indent: -9999px;
  height: 160px;
  text-align: center;
  background-position: center;
  margin: 10px 108px;
}


.zone-midzone3-wrapper {
  background: #c9c1c1;
}

.front {
  .zone-midzone3-wrapper {
  }
  .zone-midzone-wrapper {
    margin-top: 20px;
    background: url(/sites/zmedispa.com/files/meetourdoctors.jpg);
    height: 300px;
    background-repeat: no-repeat;
      .block-block {

        h2 {
          color: #005382;
          font-size: 50px;
        }
      }
  }
}

.zone-midzone3-wrapper {
  h2 {
    font-size: 50px;
  }
}

.zone-preface-wrapper, .zone-midzone3-wrapper {
  .block {
    h2 {
      text-align: center;
      color: #10557E;
      margin: 0;
    }
  }
}

.page-node-6 {
  .zone-content {
   .region-content {
      position: relative;
      bottom: 70px;
  }
}  
  .zone-header2-wrapper {
    background: url(/sites/zmedispa.com/files/about-us-slide.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
  }
}
