/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */


#zone-midzone3-wrapper {
	.webform-component--contact-info {
		.webform-contact-phone-wrapper, .webform-contact-fax-wrapper, .webform-contact-address-wrapper, .webform-contact-email-wrapper {
			width: 100%;
			margin: 0px 0 36px 0;
		}
		.webform-contact-phone-title, .webform-contact-fax-title, .webform-contact-address-title, .webform-contact-email-title {
			font-size: 17px;
		}
		.webform-contact-phone, .webform-contact-fax, .webform-contact-address, .webform-contact-email {
			  font-size: 15px;
		}
	}
}